body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px; /* Added padding to move the content away from the edges */
    background-color: #333;
    color: #fff;
}

h1 {
    color: #e74c3c;
    margin-top: 20px;
}

h2 {
    color: #3498db;
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 30px;
}

li {
    margin-bottom: 10px;
}