{% extends "base.html" %}
{% block content %}
    {% if triedy %}
    <h2>Triedy</h2>
    <ul class="list-group">
        {% for trieda in triedy %}
        <li class="list-group-item"><a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'trieda' trieda=trieda %}">{{trieda}}</a></li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if ucitelia %}
    <h2>Učitelia</h2>
    <ul class="list-group">
        {% for ucitel in ucitelia %}
        <li class="list-group-item"><a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'ucitel' ucitel=ucitel.id %}">{{ucitel.titul}} {{ucitel.meno}} {{ucitel.priezvisko}}</a>        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if studenti %}
    <h2>Študenti</h2>
    <ul class="list-group">
        {% for student in studenti %}
        <li class="list-group-item"><a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'student' student=student.id %}">{{student}}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock content %}