{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moja škola</title>
    <link rel="stylesheet" type="text/css" href="{% static 'skola/style.css' %}">
</head>
<body>
    {% if trieda %}
    <h1>{{trieda}}</h1>
    {% endif %}
    {% if ucitel %}
    <h2>Triedny učiteľ:</h2>
    <ul>
        <li>{{ucitel}}</li>
    </ul>
    {% endif %}

    {% if studenti %}
    <h2>Študenti:</h2>
    <ul>
        {% for student in studenti %}
        <li>{{student}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <img src="{% static 'skola/image.jpg' %}" alt="School Image" style="max-width: 40%;">
</body>
</html>
