{% extends "base.html" %}
{% block content %}
    {% if trieda %}
    <h1>{{trieda}}</h1>
    {% endif %}
    {% if ucitel %}
    <h2>Triedny učiteľ:</h2>
    <ul>
        <li><a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'ucitel' ucitel=ucitel.id %}">{{ucitel.titul}} {{ucitel.meno}} {{ucitel.priezvisko}}</a></li>
    </ul>
    {% endif %}

    {% if studenti %}
    <h2>Študenti:</h2>
    <ul class="list-group">
        {% for student in studenti %}
        <li class="list-group-item"><a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'student' student=student.id %}">{{student.meno}} {{student.priezvisko}}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock content %}