<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'shop/style.css' %}">
</head>
<body>
    <main>
        <h1>Shop</h1>
        <img src="{% static 'shop/image.jpg' %}" alt="Shop Image" style="max-width: 50%; margin-left: 25%;">
        {% if kategorie %}
        <h2>Kategorie:</h2>
        <ul>
            {% for kategoria in kategorie %}
            <li>{{kategoria}}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if produkty %}
        <h2>Produkty:</h2>
        <ul>
            {% for produkt in produkty %}
            <li>
                <strong>{{produkt.nazov}}</strong><br>
                Cena: {{produkt.cena}} €<br>
                Popis: {{produkt.popis}}
            </li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if uzivatelia %}
        <h2>Uzivatelia:</h2>
        <ul>
            {% for uzivatel in uzivatelia %}
            <li>{{uzivatel}} ({{uzivatel.email}})</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% if objednavky %}
        <h2>Objednávky:</h2>
        <ul>
            {% for objednavka in objednavky %}
            <li>
                <strong>ID:</strong> {{objednavka.id_objednavky}}<br>
                <strong>Produkt:</strong> {{objednavka.product.nazov}}<br>
                <strong>Užívateľ:</strong> {{objednavka.uzivatel.meno}}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </main>
</body>
</html>